<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div class="navbar-static-top">
            <h1>Test App</h1>
            <a href="/index">Home</a>
            <a href="/signin">Sign In</a>
        </div>
        
        <div>
            <h1>Welcome to the Test!</h1>
            <h3>We're going to build a cool application using a MVC framework!  This application was built with Coding Doj Folks!</h3>
            <a href=""><button>Start</button></a>
        </div>

        <div>
            <h3>Manage Users</h3>
            <p>Using this application, you'll learn how to ad, remove, and edit users for the application.</p>
        </div>
        <div>
            <h3>Leave Messages</h3>
            <p>Users will be able to leave a message to another user using this application</p>
        </div>
        <div>
            <h3>Edit User Information</h3>
            <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
        </div>
    </div>
</body>
</html>