<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="">
        <h2>Ninja Application</h2>
        <input type="text" name="Name" id="name"><label for="name"> :Name</label>
        <input type="text" name="Weapon" id="weapon"><label for="weapon"> :Weapon</label>
        <input type="text" name="Kill_Count" id="kill_count"><label for="kill_count"> :Kill Count</label>
    </form>
</body>
</html>