<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages%}
            <p>{{ message }}</p>
        {% endfor%}
    {% endif %}

    <h1>Add a new course</h1>
    <form action="/courses/create" method="post">
        {%csrf_token%}
        <div class="form_input">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>

        <div class="form_input">
            <label for="description">Description: </label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">Add</button>
    </form>

    <h1>Courses</h1>
    <table>
        <thead>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </thead>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.created_at }}</td>
                <td><a href="/courses/{{ course.id }}/confirm">Remove</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>