<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Registration</title>
</head>
<body>
    <div id='wrapper'>
        <h1>Register!</h1>
        <form action="/register" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" id="first_name" placeholder="First Name"><br>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name"><br>
            <input type="text" name="email" id="email" placeholder="Email"><br>
            <input type="text" name="password" id="password" placeholder="Password"><br>
            <input type="text" name="c_password" id="c_password" placeholder="Confirm Password"><br>
            <input type="submit" value="Register">
        </form>
        {% if messages %}
            {% for error in messages %}
                <p class="errors">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <h1>Login</h1>
        <form action="/login" method="post">
            {% csrf_token %}
            <input type="text" name="email" id="email" placeholder="Email"><br>
            <input type="text" name="password" id="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>