<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Registration</title>
</head>
<body>
    <div id='wrapper'>
        {% if messages %}
            {% for error in messages%}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        <h3>Register Here</h3>
        <form action="/register" method='post'>
            {%csrf_token%}
            <input type="text" name="first_name" id="first_name" placeholder="Enter First Name"><br>
            <input type="text" name="last_name" id="last_name" placeholder="Enter Last Name"><br>
            <input type="text" name="email" id="email" placeholder="Enter Email"><br>
            <input type="text" name="password" id="password" placeholder="Enter Password"><br>
            <input type="text" name="c_password" id="c_password" placeholder="Re-Enter Password"><br>
            <input type="submit" value="Register"><br>
        </form>

        <h3>Login Here</h3>
        <form action="/login" method='post'>
            {%csrf_token%}
            <input type="text" name="email" id="email" placeholder="Enter Email"><br>
            <input type="text" name="password" id="password" placeholder="Enter Password"><br>
            <input type="submit" value="Login"><br>
        </form>
    </div>
</body>
</html>