<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Amadon Store</h1>
        <table class='table-bordered'>
            <tr>
                <thead>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Actions</th>
                </thead>
            </tr>
            {% for item in request.session.products %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>
                        <form action="buy" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value='{{ item.id }}'>
                            <select name="quantity" id="product_{{ item.id }}_quantity">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="submit">Buy</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>